<template name='layout'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>contractCode</title>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="jumbotron-narrow.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>
  <body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{pathFor 'homePage'}}">Home</a></li>
              <li role="presentation"><a href="{{pathFor 'documents_index'}}">Document Creator (Alpha)</a></li>
              {{#if currentUser}}
              <li role="presentation"><a href="{{pathFor 'myDocuments'}}">My Documents</a></li>
              {{/if}}
              <li role="presentation"><a href="{{pathFor 'ethereumPanel'}}">Ethereum Dashboard</a></li>
              <li role="presentation"><a href="{{pathFor 'publications'}}">Publications/Speaking Engagements</a></li>
              <li role="presentation"><a href="{{pathFor 'marketplace'}}">Marketplace</a></li>
              <li role="presentation"><a href="{{pathFor 'about'}}">About</a></li>
              <li role="presentation"><a href="{{pathFor 'contact'}}">Contact</a></li>
              <li role="presentation">{{> loginButtons}}</li> 
          </ul>
        </nav>
        <img class="img-square" src='/logo.png' width="225" height="150">
      </div>

      {{> Template.dynamic template=content}}

      <footer class="footer">
        <p>&copy; contractCode 2016</p>
      </footer>

    </div> 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</template>